<form action="/username" method="POST">
    Find Tweets: <input type="text" name="name">
    <input type="submit" value="submit">
  </form> 

  <form action="/post" method="POST">
    Name: <input type="text" name="twitter_handle">
    Phrase: <input type="text" name="phrase">
    <input type="submit" value="submit">
  </form> 

