<h1> Mudfish </h1>

  

  <form action="/post" method="POST">
   <input type="text" name="city" placeholder="city ex: Key West"><br>
   <textarea rows="7" cols="15" name="phrase" >#mudfish, #fishing, redfish, tarpons, tuna, #fishon</textarea><br>
    <input type="submit" value="submit">
    <ul id="errors"></ul>
  </form> 


  
<a id="about" href= "/about">About Mudfish</a>

<p id="about_mudfish">Mudfish is a fishing facilitator, it provides people looking to fish with people currently tweeting about fishing or people currently fishing and tweeting about their experience. *Required: Enter in the city you will be fishing in and the #hashtags and phrases you would like to search for. The more phrases and #hashtags you provide the longer the query will take to process. The result is a list of people curently tweeting about the fishing phrases and #hashtags you provided. You can locate their tweeting location by clicking on the fishing spot link, if they are fishing while tweeting this will show you where they are fishing, you then can STEAL THEIR FISHING SPOT!!!</p>
